.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.cardList{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 24px;
  list-style: none;
}

@media (max-width: 789px) {
  .cardList{
    grid-template-columns: repeat(1, 1fr);
  }
}

@media (min-width: 1800px) {
  .cardList{
    grid-template-columns: repeat(5,1fr);
  }
}